* {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

body {
  background-image: url("./assets/burger-friends.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-color: #0fb9b1;
  height: 60px;
  display: flex;
  justify-content: flex-start;

}

.course-selection {
  background-color: rgba(225, 225, 225, .9);
  margin-top: 50px;
  width: 300px;
  height: 300px;
  border: solid 1px black;
  display: flex;
    align-items: right;
    justify-content: space-evenly;
    flex-direction: column;
}

.ice-box {
  background-color: rgba(225, 225, 225, .9);
  margin-top: 50px;
  width: auto;
  height: 300px;
  border: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.boil-point {
  width: 55%;
}

.menu {
  margin: auto;
  margin-top: 50px;
  width: 75%;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

button {
  background-color: #0fb9b1;
  padding: 10px;
  width: 200px;
  font-size: 20px;
}

.meal-time {
  font-size: 15px;
  display: flex;
  justify-content: center;
};

.hidden {
  display: none;
};

@keyframes beat {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.8,0.8);
            transform: scale(0.8, 0.8);
  }
}

.homemade-button {
  background-color:#0fb9b1;
  color: #fff;
  font-family: sans-serif;
  font-size: 20px;
  padding: 20px;
  margin:5px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.homemade-button:focus {
  -webkit-animation: beat 1s ease-in-out backwards;
          animation: beat 1s ease-in-out backwards;
}
.homemade-button:active {
  -webkit-animation: none;
          animation: none;
}

button:hover {
  animation-name: background-color;
    animation-duration: 4s;
    animation-fill-mode: forwards;
  }

  @keyframes background-color {
    20% {
      background-color: #e34234;
      }
    50% {
      background-color: #0eff91;
    }
    100% {
      background-color: #f6cd43;
    }
  }
/*

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
